.table-custom-header {
    background-color: #60BF78 !important;
    border: none;
    color: #0D0D0D;
}
.table-class{
    border-radius: 10px !important;
}

.table-custom-body-td{
    background-color: #333 !important;
    border: none;
    color: white;
}
.table-custom-body-tr{
    border-color: #0D0D0D;;
}
.table-custom-body-tr:last-child{
    border:none;
}
.last-row-tr{
    border:none;
}
.last-row-right{
    border-bottom-right-radius: 10px;
}

.last-row-left{
    border-bottom-left-radius: 10px;
}